@{
    ViewData["Title"] = "Session";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>


    <form asp-action="Login">
        <label class="mb-3" style="font-size: 30px;" for="UserName">Please give your Name </label>
        <input class="form-control" type="text" name="UserName" />
        <input class="btn btn-success align-content-center mt-3" type="submit" value="Submit">
    </form>
</div>